
.dp__arrow_top {
    left: 80%;
    top: -1px;
    height: 12px;
    width: 12px;
    background-color: var(--dp-background-color);
    position: absolute;
    border-left: 1px solid var(--dp-menu-border-color);
    border-top: 1px solid var(--dp-menu-border-color);
    transform: translate(-50%, -50%) rotate(45deg);
}

.dp-custom-input {
    min-width: 280px;
}